* {box-sizing:border-box;}
/*local or web(@import) 글꼴 작성위치*/
@font-face {
    font-family: 'MBC1961M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961M.woff2') format('woff2');
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Oranienbaum&display=swap');
/* reset.css */
html,body,
h1,h2,h3,h4,h5,h6,p,blockquote,address,
span,em,strong,q,sub,sup,del,s,a,img,
div,header,nav,aside,main,footer,article,figure,figcaption,
section,video,
table,thead,tbody,tfoot,tr,th,td,ul,ol,li,dl,dt,dd,
form,fieldset,legend,input,select,option,button,label,textarea{
    margin:0; padding:0; line-height:1.0;
    font-size:16px; font-style:normal; font-weight:normal;
    text-decoration:none;
}
th {text-align:left;}
table,tr,th,td {border-collapse:collapse;}
ul,ol,li {list-style:none;}
a {color:#000;}
input {outline:none; border:0;}
button {cursor:pointer; border:0;}
fieldset {border:0;}
.skip {display:none;}