/* main bg */
main .bg_top {position:relative;}
main .bg_top .mainbg {}
main .bg_top .mainbg > .swiper-slide {}
main .bg_top .mainbg > .swiper-slide a {}
main .bg_top .mainbg > .swiper-slide a img {width:100%; height:80vh;}
main .mouse {
    display:flex; flex-flow:column nowrap; align-items:center;
    position:absolute; bottom:110px; right:960px; z-index:99;
}
main .mouse img {width:50px; height:50px; animation:up_down 0.8s alternate infinite;}
main .mouse p {margin-top:10px; color:#fff; font-size:1.3rem;}
/* inner */
main .inner {
    height:110px;
    background-image:url(../images/inner.png);
    background-repeat:repeat-x;
    animation:inner 40s linear  infinite;
}
/* main2 */
main h2 {text-align:center; margin-top:85px; margin-bottom:50px;}
main h2 a {
    font-size:3.125rem; font-family:'MBC1961M';
    color:#071F60; 
}
main .main2 {
    display:flex; flex-flow:row nowrap; align-items:center; 
    margin-bottom:123px;
}
main .main2 .menu_list {
    display:flex; flex-flow:column nowrap; align-items:flex-start;
}
main .main2 .menu_list button {
    font-family: 'MBC1961M'; font-size:1.5rem;
    background:rgba(255,255,255,0); color:#071F60;
    margin-top:10px;
}
main .main2 .menu_list button:hover {
    transform:translateX(10px); transition:all 0.5s;
}
main .main2 .menu_list button:hover span {
    display:block; width:115%; position:relative;
    height:5px; background: #FFE800; border-radius:50px;
}
main .main2 .menu_list #list01 {}
main .main2 .menu_list #list01 span {}
main .main2 .menu_list #list02 {}
main .main2 .menu_list #list02 span {}
main .main2 .menu_list #list03 {}
main .main2 .menu_list #list03 span {}
main .main2 .menu_list #list04 {}
main .main2 .menu_list #list04 span {}
main .main2 .menu_list #list05 {}
main .main2 .menu_list #list05 span {}
main .main2 .best {
    background-image:url(../images/best.png);
    height:100px; width:100px;
}
/* product */
main .main2 .menu_product {
    display:flex; flex-flow:row nowrap;
    width:55vh;
}
main .main2 a {}
main .main2 a img {width:400px; height:600px;}
main .main2 .menu_product #product .best_product {}
main .main2 .menu_product #product .best_product .swiper-slide {
    /* width:300px; */
    padding:15px 0;
    display:flex; flex-flow:column nowrap; align-items:center;
    font-family:'MBC1961M'; color:#071F60;
    border-top:3px solid #FFE800;
    border-bottom:3px solid #FFE800;
}
main .main2 .menu_product #product .best_product .swiper-slide img {width:300px; height:400px;}
/* main3 */
main .main3 {
    display:flex; justify-content:space-around; align-items:center;
    border:1px solid #d9d9d9;
}
main .main3 .m3_left {
    width:50%;
    display:flex; flex-flow:column; 
    align-items: center;
}
main .main3 .m3_left h3 {
    font-family:'MBC1961M'; margin-bottom:60px;
    font-size:2.1rem; color:#071F60;
}
main .main3 .m3_left h3 span {font-size:2.3rem; background: #FFE800; color:#071F60;}
main .main3 .m3_left .story {display:flex; justify-content:space-around;}
main .main3 .m3_left .story a {
    display:flex; flex-flow:column nowrap;
    margin-right:40px; text-align:center;
    font-size:0.95rem; color:#071F60;
}
main .main3 .m3_left .story a:last-child {margin-right:0;}
main .main3 .m3_left .story a img {width:100px; height:100px; margin-bottom:10px;}
main .main3 .m3_left .story a:hover img {transform:translateY(-10px);}
main .main3 .m3_right {width:50%;}
main .main3 .m3_right .r_top {background:#FFE800;}
main .main3 .m3_right .r_top a {
    display:flex; justify-content:space-between; align-items: center;
    margin:0 60px;
}
main .main3 .m3_right .r_top a .content1 {}
main .main3 .m3_right .r_top a .content1 h3 {
    font-family: 'MBC1961M'; font-size:2.5rem;
    color:#071F60;
    margin-top:58px;
    margin-bottom:95px;
}
main .main3 .m3_right .r_top a .content1 .event_title {
    font-size: 1.1rem; font-family: 'MBC1961M'; color:#071F60;
    margin-bottom:25px;
}
main .main3 .m3_right .r_top a .content1 .event_day {color:#071F60; margin-bottom:40px;}
main .main3 .m3_right .r_top a img {width:50px; height:50px;}
main .main3 .m3_right .r_top a:hover img {transition:all 0.5s; transform:translateX(15px);}
main .main3 .m3_right .r_btm a:hover img {transition:all 0.5s; transform:translateX(15px);}
/* right_btm */
main .main3 .m3_right .r_btm {background: #071F60;}
main .main3 .m3_right .r_btm a {
    display:flex; justify-content:space-between; align-items: center;
    margin:0 60px;
}
main .main3 .m3_right .r_btm a .content2 {}
main .main3 .m3_right .r_btm a .content2 h3 {
    font-family: 'MBC1961M'; font-size:2.5rem;
    color:#F1F1F1; 
    margin-top:58px;
    margin-bottom:95px;
}
main .main3 .m3_right .r_btm a .content2 .event_title {
    font-size: 1.1rem; font-family: 'MBC1961M'; color:#F1F1F1;
    margin-bottom:25px;
}
main .main3 .m3_right .r_btm a .content2 .event_day {color:#F1F1F1; margin-bottom:40px;}
main .main3 .m3_right .r_btm a img {width:50px; height:50px;}